body{
    background-color: #222222;
}

#container{
    padding: 50px;
    border-radius: 15px;
    background-color: gray;
    display: table;
    margin: 0 auto;
}

#canvas{
    margin: 0 auto;
    /*text-align: center;*/
    display: table;
}

#chosenColor{
    width: 40px;
    height: 20px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px black dotted;
    float: left;
    background-color: white;
}

.cell {
    width:10px;
    height:10px;
    background-color:lightgray;
    display: inline-block;
    border: 1px solid gray;
    float:left;
}

/*.cellFilled {*/
    /*width:5px;*/
    /*height:5px;*/
    /*background-color:green;*/
    /*display: inline-block;*/
    /*border: 1px solid black;*/
    /*!*margin:1px;*!*/
    /*float:left;*/
/*}*/

.row{
    /*width: 800px;*/
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    clear: both;
}

#palette{
    margin: 0 auto;
    display: table;
}

#palette > div{
    width: 20px;
    height: 20px;
    float: left;
    margin: 5px;
    border: 1px black dotted;
    border-radius: 50%;

}